@import './base.css';

.mapboxgl-ctrl-geocoder, .mapboxgl-popup-content {
  font-family: 'Roboto Condensed', sans-serif;
}

.mapboxgl-popup-content {
  padding: 18px;
   /* !important; */
  font-size: 56px;
}