@import './base.css';

.mapboxgl-ctrl-geocoder, .mapboxgl-popup-content {
  font-family: 'Roboto Condensed', sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  line-height: 1;
  padding-top: .5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  width: max-content;
  /* todo revise units */
}

.mapboxgl-popup-close-button {
  /* todo revise units */
  font-size: 3vw;
  line-height: .8;
  color: gray;
  padding-bottom: .5vh;
}

.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-top {
  max-width: none !important;
}