@import './base.css';

.mapboxgl-ctrl-geocoder, .mapboxgl-popup-content {
  font-family: 'Roboto Condensed', sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  line-height: 1;
  padding-top: 0vh;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
  width: max-content;
}

.mapboxgl-popup-close-button {
  font-size: 3vw;
  line-height: .7;
  color: gray;
  padding-bottom: .5vh;
  padding-top: 0%;
}

.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-top {
  max-width: none !important;
}